.button {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 6px 28px;
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  letter-spacing: 0;
  text-decoration: none;
  transition:
    background var(--hover-transform),
    color var(--hover-transform);
  border: 0px;

  &.withIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.primary {
  background: var(--color-accent-500);
  box-shadow: 0px 4px 18px 0px #8c61ff59;

  &:hover {
    background: var(--color-accent-300);
  }

  &:active {
    background: var(--color-accent-700);
  }

  &:disabled {
    background: var(--color-accent-900);
  }
}

.secondary {
  background: var(--color-dark-300);
  box-shadow: 0px 2px 10px 0px #6d6d6d40;

  &:hover {
    background: var(--color-dark-100);
  }

  &:active {
    background: var(--color-dark-500);
  }

  &:disabled {
    background: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}
