.Root {
  width: 100%;
  .List {
    flex-shrink: 0;
    display: flex;
  }
  .Trigger {
    width: 100%;
    padding: 6px 24px;
    border: 1px solid var(--color-dark-300);
    border-left-width: 0;
    background-color: var(--color-dark-900);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:first-child {
      border-left-width: 1px;
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
      border-left-width: 0;
    }
    span {
      transition: color 0.3s ease;
    }
    &:hover:not([data-state='active']) {
      background-color: var(--color-dark-300);
      border-color: var(--color-dark-100);
      span {
        color: var(--color-light-900);
      }
    }
    &[data-state='active'] {
      background-color: var(--color-accent-500);
      border-width: 1px;
    }

    &:focus-visible {
      outline: 2px solid var(--color-info-700);
    }

    &:disabled:not([data-state='active']) {
      cursor: default;
      background-color: var(--color-dark-700);
      border-color: var(--color-dark-300);
      span {
        color: var(--color-dark-300);
      }
    }
  }
}
